version: 2.1

orbs:
  maven: circleci/maven@0.0.12

workflows:
    maven_test:
      jobs:
        - maven/test:
            commands:
              command: |
                mkdir -p ~/cucumber
                bundle exec cucumber --format pretty --format json --out ~/cucumber/tests.cucumber
              test_results_path: ~/cucumber
              command: 'clean test -Denv=${env}'
           
          
