version: 2.1
orbs:
  maven: circleci/maven@0.0.12
workflows:
  maven_test:
    jobs:
      build:
        executor:
          name: node/default
          tag: '10.4'
        steps:
          - checkout
          - maven/test:
            steps:
              - run: mvn clean
